:root {
  --green: #34C759;
  --txt_grey: #B0B0B0;
  --black: #333;
  --grey: #C8C5D1;
  --firm: #9873FF;
  --activeFirm: #8052FF;
  --red: #F06A4D;
  --orange: #E6B127;
  --bg: #f5f5f5;
  --white: #fff;
  --background: #E7E5EB;
  --backgroundLigth: #F4F3F6;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.container {
  padding: 20px;
  max-width: 1146px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  box-shadow: 0 -5px 20px #333;
  background-color: white;
  z-index: 99;
}

.header__wrapper {
  display: flex;
}

.header__logo {
  margin-right: 53px;
}

.header__search {
  padding: 12px 16px;
  width: 581px;
  border: 1px solid var(--grey);
  border-radius: 0;
}

.main {
  padding-top: 130px;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

.main__title {
  padding-bottom: 26px;
}

.table {
  display: grid;
  width: 100%;
}

.table__white-screen {
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: var(--white);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.table__loading {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  animation: rotate 3s infinite linear;
}

.table__row {
  display: grid;
  grid-template-columns: 13% 25% 17% 17% 13% 18%;
  justify-content: space-between;
  justify-items: start;
  padding: 0 20px;
}

.table__item {
  display: grid;
  grid-template-columns: 13% 25% 17% 15% 12% 18%;
  justify-content: space-between;
  align-items: center;
  justify-items: start;
  padding: 20px;
  border-bottom: 1px solid var(--grey);
  background-color: var(--white)
}

.table__header {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  color: var(--grey);
  cursor: pointer;
  transition: color 0.2s ease;
}

.table__header:active {
  color: var(--black);
}

.table__header-arrow {
  position: relative;
  top: 3px;
  width: 14px;
  height: 14px;
  transform: rotate(0);
  transition: transform .5s ease;
}

.table__header-rotate {
  transform: rotate(180deg);
}

.table__item-id {
  font-size: 12px;
  color: var(--grey);
}

.table__item-fio {
  font-size: 14px;
  color: var(--black);
}

.table__item-date {
  font-size: 14px;
  color: var(--black);
}

.table__item-time {
  font-size: 14px;
  color: var(--grey);
}

.table__item-contacts {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-self: start;
}

.contacts-wrapper {
  position: absolute;
  height: 120%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.contacts {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  margin-bottom: 7px;
}


.contacts:hover::before {
  content: '';
  position: absolute;
  top: -95%;
  left: 12%;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: var(--black);
}

.contacts:hover::after {
  content: attr(data-href);
  position: absolute;
  display: flex;
  top: -260%;
  padding: 8px 16px;
  width: auto;
  left: -100%;
  height: auto;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--black);
}

.contacts__btn-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  margin-bottom: 7px;
  border: 1px solid var(--firm);
  border-radius: 50px;
  font-size: 8px;
}

.contacts__vk {
  background: url(./img/vk.svg)center center no-repeat;
}

.contacts__fb {
  background: url(./img/fb.svg)center center no-repeat;
}

.contacts__tel {
  background: url(./img/phone.svg)center center no-repeat;
}

.contacts__mail {
  background: url(./img/mail.svg)center center no-repeat;
}

.contacts__some-links {
  background: url(./img/personContact.svg) center center no-repeat;
}

.item-event-btn {
  display: inline-block;
  padding-left: 17px;
  border: none;
  font-size: 14px;
  color: var(--black);
  transition: color 0.2s ease;
}

.table__item-delete-item:hover {
  color: var(--red);
}

.table__item-change-modal:hover {
  color: var(--firm);
}

.item-event-btn:first-child {
  margin-right: 5px;
}

.table__item-change-modal {
  background: url(./img/edit.svg) left center no-repeat;
}

.table__item-delete-item {
  background: url(./img/cancel.svg) left center no-repeat;
}

.btn-add-client {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 12.5px 26.5px 12.5px 58.5px;
  border: 1px solid var(--firm);
  background: url(./img/person.svg) 28px center no-repeat;
  color: var(--firm);
}

.form__subtitle_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #0000009e;
  opacity: 0;
  transition: opacity 0.1s ease, visibility 0.1s ease;
  z-index: 111;
}

.modal__form {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 19vh;
  left: 34vw;
  min-width: 450px;
  padding: 25px 30px;
  overflow: hidden;
  background: var(--white);
  transform: scale(0.7);
  transition: transform 0.1s ease;
  z-index: 99;
}

.form__close_btn {
  margin-left: auto;
  width: 20px;
  height: 20px;
  border: none;
  background: url(./img/cross.svg) center center no-repeat;
}

.form__subtitle {
  margin-right: 10px;
  line-height: 24.51px;
}

.form__input {
  margin-bottom: 25px;
  border: none;
  background: none;
  border-bottom: 1px solid var(--grey);
}

.form__inputs_wrapper {
  display: flex;
  flex-direction: column;
}

.form__input_placeholder {
  font-size: 10px;
  line-height: 14px;
  color: var(--grey);
  transform: scale(143%) translateY(11px) translateX(58px);
  transition: transform 0.4s ease-out;
  pointer-events: none;
}

.form__add_contacts-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.form__add_contacts-wrapper::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 100%;
  background-color: #bcbcbc4a;
  pointer-events: none;
}

.form__add_contact {
  padding-left: 20px;
  min-height: 35px;
  border: none;
  background: url(./img/plusCircle.svg) 2px center no-repeat;
  transition: background 0.2s ease ;
}
.form__add_contact:hover {
  background: url(./img/plusFill.svg) 2px center no-repeat;
}

.form__submit {
  position: relative;
  align-self: center;
  margin-bottom: 5px;
  padding: 12.5px 35px;
  font-size: 14px;
  line-height: 19px;
  border: none;
  background-color: var(--firm);
  color: var(--white);
  transition: background-color .2s ease;
}
.form__submit:active {
  background-color: var(--activeFirm);
}
.btn-loading-svg {
  display: none;
  width: 12px;
  height: 12px;
  animation: rotate 3s infinite linear;
}
.form__cancel {
  align-self: center;
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
}

.contact__data {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 37px;
  width: 100%;
  margin-bottom: 15px;
}

.select__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 35%;
  border: 1px solid var(--grey);
  background-color: var(--background);
  cursor: pointer;
}

.contact__selected {
  width: 100%;
  padding-left: 12px;
}

.selected__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select__arrow {
  width: 16px;
  margin-right: 12px;
  background: url(./img/shevronDown.svg) 90% center no-repeat;
  transform: rotate(0);
  transition: transform 0.2s linear;
}

.invert {
  transform: rotate(180deg);
}

.contact__selected {
  font-size: 12px;
  color: var(--black);
}

.select__body {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 136px;
  background-color: var(--backgroundLigth);
  border: 1px solid var(--grey);
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.1s ease-in, transform 0.1s ease-in-out;
  pointer-events: none;
}

.select__option {
  padding: 5px 12px;
  font-size: 12px;
  line-height: 16px;
}

.in-active {
  opacity: 1;
  transform: translateY(0);
  cursor: pointer;
  pointer-events: inherit;
  z-index: 99;
}

.select__option:hover {
  background-color: var(--grey);
}

.contact__input {
  width: 100%;
  padding-left: 12px;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
  border-left: none;
  background: none;
}

.contact__button {
  position: relative;
  border: 1px solid var(--grey);
  border-left: none;
  padding: 0 10px;
  background: url(./img/cancelGrey.svg) center center no-repeat;
  background-color: #bcbcbc4a;
  transition: bacground 0.3s ease, border 0.3s ease;
}

.contact__button:hover {
  border: 1px solid var(--red);
  border-left: none;
  background: url(./img/cancelRed.svg) center center no-repeat;
  background-color: #bcbcbc4a;
}

.contact__button:hover::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: var(--black);
}

.contact__button:hover::after {
  content: 'Удалить контакт';
  position: absolute;
  top: -145%;
  left: -150%;
  padding: 8px 12px;
  color: var(--white);
  background-color: var(--black);
  z-index: 102;
}

.form__question {
  display: inline-block;
  justify-self: center;
  max-width: 275px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.form__delete_modal {
  align-items: center;
}

.form__close__delete {
  position: absolute;
  right: 20px;
}

.form__error {
  text-align: center;
  color: var(--red);
  font-size: 10px;
  line-height: 14px;
}

@media (max-width: 1025px) {
  .table__item {
    grid-template-columns: 13% 25% 16% 13% 13% 19%;
  }
  .table__row {
    grid-template-columns: 11% 22% 14% 14% 15% 14%;
  }
  .modal__form {
    top: 24vh;
    left: 27vw;
  }
}
@media (max-width: 769px) {
  .container {
    width: 100vw;
  }
  .modal__form {
    top: 26vh;
    left: 21vw;
  }
  .table__item {
    grid-template-columns: 15% 30% 12% 11% 17% 15%;
  }
  .table__row {
    grid-template-columns: 15% 28% 12% 12% 18% 14%;
  }
  .table {
    min-width: 728px;
    width: inherit;
  }
  .table-wrapper {
    position: relative;
    min-width: 100vw;
    overflow-x: scroll;
  }
  .table-wrapper::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 426px) {
  .container {
    padding: 10px;
  }
  .modal__form {
    padding: 15px;
    min-width: 300px;
    max-width: 300px;
    left: 10%;
    top: 10vh;
  }
  .form__close_btn {
    align-self: start;
  }
  .form__input_placeholder {
    transform: scale(1.43) translateY(11px) translateX(38px);
  }
  .table__loading {
    width: 36px;
    height: 36px;
  }
  .table__loading-svg {
    width: 36px;
    height: 36px;
  }
  .select__body {
    width: 94px;
  }
  .contact__input::placeholder {
    font-size: 14px;
  }
  .header {
    padding: 8px;
  }
  .header__search {
    display: none;
  }
  .header__logo {
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }
  .main {
    padding-top: 70px;
  }
  .main__title {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .table__tbody {
    overflow: hidden;
    overflow-x: scroll;
  }
  .form__subtitle {
    margin-right: 9px;
  }
}

@media (max-width: 321px) {
  .modal__form {
    left: 4%;
    top: 20vh;
  }
}